.cards {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 20px;
  padding-top: 10px;
}

.card {
  padding: 5px;
  display: flex;
  width: 250px;
  height: 80px;
  margin: 0;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  flex-grow: 0;
}

.card > a {
  display: flex;
  flex-direction: row;
}
