.categories {
  width: 20%;
  margin-right: 20px;
  min-width: 200px;
  position: sticky;
  top: 61px;
}

.categories > a > li {
  list-style: none;
  padding: 5px;
  border-bottom: 2px solid black;
  transition: all 0.3s;
}

.categories > a > li:hover {
  background: linear-gradient(
    90deg,
    rgba(254, 222, 57, 1) 58%,
    rgba(255, 255, 255, 1) 93%
  );
  /* color: white; */
  transform: scale(1.1);
  translate: 12px 1px;
}
